html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*這邊是導覽列  */
.navbar-default {
    background-color: #59cee7;
    border-color: #a1e3f6;
    
  }
  .navbar-default .navbar-brand {
    color: #eceff2;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #536c8d;
  }
  .navbar-default .navbar-text {
    color: #eceff2;
    
  }
  .navbar-default .navbar-nav > li > a {
    color: #eceff2;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #536c8d;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #536c8d;
    background-color: #a1e3f6;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #536c8d;
    background-color: #a1e3f6;
  }
  .navbar-default .navbar-toggle {
    border-color: #a1e3f6;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #a1e3f6;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #eceff2;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #eceff2;
  }
  .navbar-default .navbar-link {
    color: #eceff2;
  }
  .navbar-default .navbar-link:hover {
    color: #536c8d;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #eceff2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #536c8d;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #536c8d;
      background-color: #a1e3f6;
    }
  }
  .navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar-collapse-center {
    text-align: center;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}
  /*這邊是導覽列  */

/* 頁尾 */
footer {
  position: absolute;
    height: 100px;
    
    width: 100%;
    background-color: #59cee7;
}

.contact p{
    line-height:10px;
    font-size: 15px;
    text-align: center;
    font-family:verdana, Times New Roman, 微軟正黑體;

}
/* 頁尾 */
/* 狗種介紹 */
.photo{
    /*display: flex;*/
    width: 99%;
}

.btn-default{

  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px; 
  border-radius: 20px;
 
  }

  /* 狗種介紹 */

  .text-center{
    font-size: 30px;  
    text-align: center;
    font-weight:bold;
  }
  .clear{
    clear:both;
  }
  